@use 'base/variables' as vars;
@use 'base/mixins' as mixins;
.faq {
  &--layout1 {
    margin: -16px 0 0 0;
  }
}
.accordion {
  .accordion-item {
    margin: 0 0 12px 0;
    background: #232530;
    border: 2px solid rgba(50, 52, 65, 0.6);
    border-radius: 29px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::before,
    &::after {
      position: absolute;
      content: '';
      z-index: -1;
      background: #0eff60;
      opacity: 0.06;
      filter: blur(50px);
      width: 364px;
      height: 364px;
    }
    &::before {
      bottom: -148px;
      left: -105px;
    }
    &::after {
      top: -317px;
      right: -198px;
    }

    &:last-child {
      margin-bottom: 0;
    }
    &:first-of-type {
      .accordion-button {
        border-radius: 0px;
      }
    }
    &:last-of-type {
      .accordion-button.collapsed,
      .accordion-collapse {
        border-radius: 0px;
      }
    }
  }

  .accordion-header {
    margin: 0;
  }

  .accordion-button {
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 20px 25px 20px 35px;
    font-size: 20px;
    font-weight: 500;
    font-family: var(--title-font);
    color: var(--title-color);
    text-align: left;
    letter-spacing: 0.6px;
    text-transform: capitalize;
    box-shadow: none;
    line-height: 1.3;
    @include mixins.sm {
      padding: 15px 20px 15px 20px;
      font-size: 16px;
    }

    &:after {
      content: '\2b';
      font-family: vars.$icon-font;
      font-weight: 400;
      color: vars.$title-color;
      width: 46px;
      height: 46px;
      background-image: none;
      display: flex;
      align-items: center;
      justify-content: center;
      @include mixins.smooth-transition;
      background: rgba(17, 20, 30, 0.5);
      border: 2px dashed #686868;
      border-radius: 50%;
      @include mixins.sm {
        width: 30px;
        height: 30px;
        font-size: 12px;
        border-width: 1px;
      }
    }
    &:hover {
      color: var(--vs-theme-color);
      &::after {
        color: var(--vs-theme-color);
      }
    }

    &:focus {
      box-shadow: none;
    }

    &:not(.collapsed) {
      color: var(--vs-theme-color);
      &:after {
        color: var(--vs-theme-color);
        content: '\f068';
      }
    }
  }

  .accordion-body {
    padding: 5px 35px 35px;
    letter-spacing: 0.4px;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    color: var(--body-color);
    @include mixins.sm {
      padding: 5px 20px 35px;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .accordion-collapse {
    border: none;
  }

  &__reaction {
    display: flex;
    align-items: center;
    max-width: 485px;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    background: rgba(18, 21, 31, 0.7);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 29.5px;
    padding: 0 30px;
    min-height: 55px;
    margin-top: 39px;
    color: var(--body-color);
    @include mixins.sm {
      padding: 10px 30px;
    }
    &--btns {
      display: flex;
      align-items: center;
    }
    &--btn {
      padding-right: 22px;
      margin-right: 22px;
      position: relative;
      &::after {
        position: absolute;
        content: '';
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 36px;
        width: 1px;
        opacity: 15%;
        background-color: #d9d9d9;
        border-radius: 100%;
      }
      &:last-child {
        padding-right: 0;
        margin-right: 0;
        &::after {
          display: none;
        }
      }
      &:hover {
        color: var(--vs-theme-color);
      }
    }
  }
}
