@use 'base/variables' as vars;
@use 'base/mixins' as mixins;
.popup-search-box {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 0%;
  width: 100%;
  overflow: hidden;
  z-index: 999999;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.4s;
  padding: 0 20px;
  transition-delay: 0.9s;

  button.searchClose {
    width: 60px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    top: 0px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background-color: var(--vs-theme-color);
    color: var(--text-black-color);
    font-size: 30px;
    border-radius: 50%;
    transition: all ease 0.4s;
    transition-delay: 0.5s;

    i {
      line-height: inherit;
      transition: all ease 1s;
      rotate: 360deg;
    }

    &:hover {
      color: var(--text-black-color);
      background-color: var(--white-color);
      i {
        transition: all ease 1s;
        rotate: 0deg;
      }
    }
  }

  form {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    padding-bottom: 40px;
    cursor: auto;
    width: 100%;
    max-width: 700px;
    transform: translate(-50%, -50%) scale(0);
    transition: transform ease 0.4s;
    padding: 0 20px;

    @include mixins.lg {
      max-width: 600px;
    }

    input {
      font-size: 14px;
      height: 70px;
      width: 100%;
      border: 2px solid rgba(18, 21, 31, 1);
      background-color: rgba(18, 21, 31, 0.5);
      backdrop-filter: blur(10px);
      padding-left: 30px;
      color: var(--white-color);
      border-radius: 50px;
      @include mixins.smooth-transition;
      @include mixins.inputPlaceholder {
        color: var(--white-color);
      }
      &:focus {
        outline: none;
        border-color: var(--vs-theme-color);
      }
    }

    button {
      position: absolute;
      top: 0px;
      background-color: transparent;
      border: none;
      font-size: 20px;
      right: 13px;
      color: var(--white-color);
      cursor: pointer;
      width: 70px;
      height: 70px;
      transition: all ease 0.4s;
      transform: scale(1.001);

      &:hover {
        transform: scale(1.1);
        color: var(--vs-theme-color);
      }
    }
  }

  &.show {
    opacity: 1;
    visibility: visible;
    height: 100%;
    transition: all ease 0.4s;
    button.searchClose {
      top: 40px;
      transition-delay: 0.5s;
    }
    form {
      transition-delay: 0.5s;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
